body {
    background-image: url(../images/back2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.home-ref{
    outline: none;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 5;
}

.home-ref img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 60px;
}

.edit-box{
    width: 300px;
    height: auto;
    border: 3px solid white;
    box-shadow: 0 0 12px white;
    border-radius: 10px;
    padding: 5px;
}

.edit-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-header img{
    width: 55px;
    height: 55px;
    margin-right: 10px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

.form-group input{
    background: none;
    height: 30px;
    outline: none;
    color: white;
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 8px;
    border: 2px solid white;
}

.btn-block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.btn{
    width: 80px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 8px;
    border: 2px solid white;
    text-align: center;
    background: none;
    cursor: pointer;
}

.error-box{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(246, 58, 58);
}